pytest==6.2.5                           # test framework
coverage==5.5                           # code coverage
pytest-cov==2.12.1                      # code coverage integration with pytest
locust==2.8.4                           # load test
